{
  "root": true,
  "ignorePatterns": [
    "projects/**/*"
  ],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "parserOptions": {
        "project": [
          "tsconfig.json",
          "e2e/tsconfig.json"
        ],
        "createDefaultProgram": true
      },
      "extends": [
        "plugin:@angular-eslint/recommended",
        "plugin:@angular-eslint/template/process-inline-templates"
      ],
      "rules": {
        "@angular-eslint/directive-selector": [
          "error",
          {
            "type": "attribute",
            "prefix": "np",
            "style": "camelCase"
          }
        ],
        "@angular-eslint/component-selector": [
          "error",
          {
            "type": "element",
            "prefix": "np",
            "style": "kebab-case"
          }
        ],
        "@angular-eslint/no-empty-lifecycle-method": "off",
        "@typescript-eslint/explicit-member-accessibility": [
          "warn",
          {
            "accessibility": "explicit",
            "overrides": {
              "accessors": "off",
              "constructors": "off",
              "methods": "off",
              "properties": "off",
              "parameterProperties": "explicit"
            }
          }
        ],
        "@typescript-eslint/indent": [
          "off",
          2
        ],
        "@typescript-eslint/member-delimiter-style": [
          "warn",
          {
            "multiline": {
              "delimiter": "semi",
              "requireLast": true
            },
            "singleline": {
              "delimiter": "semi",
              "requireLast": false
            }
          }
        ],
        "@typescript-eslint/member-ordering": [
          "warn",
          {
            "default": [
              "private-static-field",
              "protected-static-field",
              "public-static-field",
              "private-instance-field",
              "protected-instance-field",
              "public-instance-field",
              "constructor",
              "protected-static-method",
              "public-static-method",
              "private-static-method",
              "protected-instance-method",
              "public-instance-method",
              "private-instance-method"
            ]
          }
        ],
        "@typescript-eslint/no-inferrable-types": "warn",
        "@typescript-eslint/no-non-null-assertion": "warn",
        "@typescript-eslint/quotes": [
          "warn",
          "single"
        ],
        "@typescript-eslint/semi": [
          "warn",
          "always"
        ],
        "@typescript-eslint/no-unused-vars": [
          "warn",
          {
            "argsIgnorePattern": "^_"
          }
        ],
        "@typescript-eslint/no-unused-expressions": "warn",
        "@typescript-eslint/space-before-function-paren": "off",
        "@typescript-eslint/comma-dangle": [
          "warn",
          {
            "objects": "never",
            "arrays": "never",
            "functions": "never",
            "imports": "never",
            "exports": "never",
            "enums": "never",
            "generics": "never",
            "tuples": "never"
          }
        ],
        "no-var": "error",
        "comma-dangle": "off",
        "curly": "error",
        "space-before-function-paren": "off",
        "template-curly-spacing": [
          "warn",
          "always"
        ],
        "no-trailing-spaces": [
          "warn",
          {
            "skipBlankLines": false,
            "ignoreComments": false
          }
        ],
        "no-unused-expressions": "off",
        "no-unused-vars": "off"
      }
    },
    {
      "files": [
        "*.html"
      ],
      "extends": [
        "plugin:@angular-eslint/template/recommended"
      ],
      "rules": {}
    }
  ]
}
