<div [ngClass]="{ 'mb-2': hasSelected }">
  <ng-container *ngIf="!!multiple; else noMultipleSelect">
    <select class="form-control"
      [attr.id]="id"
      [attr.name]="name"
      [attr.title]="placeholder"
      [disabled]="disabled"
      [compareWith]="compareSelectedFn"
      [(ngModel)]="selected"
      (blur)="blur($event)" multiple #select>
      <ng-template ngFor let-item [ngForOf]="items">
        <option [ngValue]="item.value">{{ item.text }}</option>
      </ng-template>
    </select>
  </ng-container>
</div>

<ng-template #noMultipleSelect>
  <select class="form-control"
    [attr.id]="id"
    [attr.name]="name"
    [attr.title]="placeholder"
    [disabled]="disabled"
    [compareWith]="compareSelectedFn"
    [(ngModel)]="selected"
    (blur)="blur($event)" #select>
    <ng-template ngFor let-item [ngForOf]="items">
      <option [ngValue]="item.value">{{ item.text }}</option>
    </ng-template>
  </select>
</ng-template>
